.App {
  text-align: center;
  display: flex;
  justify-content:center;
  flex-wrap: wrap;
  padding: 10px;
}

.item {
  padding: 20px;
  /* border: 1px solid red; */
  /* box-shadow: 1px 1px 1px 1px */
}

.image img {
  width: 60px;
  border-radius: 50%;
}

.item p {
  margin: 0;
}



.language span:hover {
  cursor: pointer;
  color: red;
}
.language span {
  padding: 8px;
}

.clicked {
  color: red;
  border: 1px solid red;
  
}

.language {

  padding: 20px;
  text-align: center;
}

.page {
  text-align: center;
}

.prev{
  margin-right: 10px;
}

.next{
  margin-left: 10px;
}


@media (max-width:420px){
  .language {
   display: flex;
   flex-direction: column;
   position: relative;
   top: 40px;
   z-index: -1;
  }
  

}